@import "./var/button.scss";

$--button-prefix: g-button;

.#{$--button-prefix}{
  font-size: $--font-size;
  height: $--button-height;
  padding: 0 1em;
  border-radius: $--border-radius;
  border: 1px solid $--border-color;
  background-color: $--button-bg;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &+.g-button{
    margin-left: 0.4em;
  }

  &[disabled] {
    background-color: $--button-disabled-bg;
  }

  &:hover{
    border-color: $--border-color-hover;
  }
  &:active{
    background-color: $--button-active-bg;
  }
  &:focus{
    outline: none;
  }

  &-icon,&-loading{
    margin-right: 0.3em;
  }

  &-loading{
    animation: gbuttonloading 1s linear infinite;
    @keyframes gbuttonloading {
      from {
        transform: rotate(0);
      }
      to{
        transform: rotate(360deg);
      }
    }
  }

  &-icon--right{
    .#{$--button-prefix}-content {
      order: 1;
    }
    .#{$--button-prefix}-icon {
      order: 2;
      margin-left: 0.3em;
      margin-right: 0;
    }
  }
}
