$--col-prefix: w-col;

.w-col {
    float: left;
    box-sizing: border-box;

    @for $i from 1 through 24 {

        $grid: #{$i / 24 * 100}#{'%'};
        &#{&}-#{$i}{
            width: $grid;
        }

        &#{&}-offset-#{$i}{
            margin-left: $grid;
        }
    }
}