$--message-prefix: w-message;
$--message-type-maps: (
    success: (
        bgColor: #f0f9eb,
        borderColor: #e1f3d8,
        iconColor: #67c23a,
        fontColor: #67c23a
    ),
    warning: (
        bgColor: #fdf6ec,
        borderColor: #faecd8,
        iconColor: #e6a23c,
        fontColor: #e6a23c
    ),
    error: (
        bgColor: #fef0f0,
        borderColor: #fde2e2,
        iconColor: #f56c6c,
        fontColor: #f56c6c
    ),
    info: (
        bgColor: #ebeef5,
        borderColor: #edf2fc,
        iconColor: #909399,
        fontColor: #909399
    )
);

.#{$--message-prefix} {
    background-color: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    transition: transform 0.5s ease, opacity 0.5s ease, top 0.5s ease;

    &-fade-enter,
    &-fade-leave-active {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    @each $type, $value in $--message-type-maps {
        &--#{$type} {
            background-color: map-get($value, bgColor);
            border-color: map-get($value, borderColor);

            .#{$--message-prefix}__icon {
                color: map-get($value, iconColor);
                fill: map-get($value, iconColor);
            }
            .#{$--message-prefix}__content {
                color: map-get($value, fontColor);
            }
        }
    }

    &__icon {
        width: 14px;
        height: 14px;
        margin-right: 8px;
        flex: 0 0 auto;
    }

    &__content {
        max-width: 600px;
        line-height: 1;
        margin-right: 16px;
    }

    &__close {
        cursor: pointer;
        flex: 0 0 auto;
    }
}
