@mixin wave-effect ($borderColor: inherit) {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    border: 0 solid;
    border-color: $borderColor;
    border-radius: inherit;
    animation: wave-effect .4s cubic-bezier(.08,.82,.17,1);
}