@mixin util-clearfix {
    &:before,&:after{
        content: '';
        display: table;
        clear: both;
    }
}

@mixin util-middle {
    &:before{
        content:'';
        display:inline-block;
        vertical-align:middle;
        height:100%;
    }
}
